numpy==2.0.2
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.13.1
matplotlib==3.9.4
seaborn==0.13.2
tensorflow==2.19.0
keras==3.9.2
xgboost==2.1.4
catboost==1.2.8
lightgbm==4.6.0
shap==0.47.2
plotly==6.1.1
jupyterlab==4.3.4
ipykernel==6.29.5
tensorflow-io-gcs-filesystem==0.31.0
